@{
    ViewBag.Title = "Home Page";
}

@*<h1>Welcome to the Thompson Budgeter!</h1>*@
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>
                    Welcome to the 
                    <br />Thompson Budgeter!
                </h3>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 about-title">
                <h3>About this website</h3>
                <h4>This site was developed using</h4>
            </div>
            </div>
        <div class="row">
            <div class="col-md-3 col-xs-12 wow bounceInRight">
                <p><span><i class="fa fa-windows"></i></span></p>
                <h4>ASP .NET MVC</h4>
            </div>
            <div class="col-md-3 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-twitter"></i></span></p>
                <h4>Twitter Bootstrap</h4>
            </div>
            <div class="col-md-3 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-hashtag"></i></span></p>
                <h4>C#</h4>
            </div>
            <div class="col-md-3 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-jsfiddle"></i></span></p>
                <h4>JavaScript</h4>
            </div>
            </div>
        <div class="row">
            <div class="col-md-3 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-asterisk"></i></span></p>
                <h4>Microsoft SQL Server</h4>
            </div>
            <div class="col-md-3 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-link"></i></span></p>
                <h4>LINQ</h4>
            </div>
            <div class="col-md-3 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-list"></i></span></p>
                <h4>Entity Framework</h4>
            </div>
            <div class="col-md-3 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-at"></i></span></p>
                <h4>Razor</h4>
            </div>
            </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-html5"></i></span></p>
                <h4>HTML5</h4>
            </div>
            <div class="col-md-6 col-xs-12 wow bounceInLeft">
                <p><span><i class="fa fa-css3"></i></span></p>
                <h4>CSS3</h4>
            </div>
            @*<div class="col-md-4 col-xs-12 wow bounceInUp">
                <p><span><i class="fa fa-desktop"></i></span></p>
                <h4>Cross-browser Compatible </h4>
                <p>AngularJS applications are compatible on all browsers.</p>
            </div>*@
        </div>
    </div>
</section>
<section id="screenshot">
    <div class="container">
        <div class="col-md-12">
            <img src="~/Assets/budgeter.png" />
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Contact</h3>
            </div>
        </div>
    </div>
    <div class="fluid-wrapper">
        <!-- IFRAME MAPS -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.8840751167722!2d-80.07445238558032!3d36.096313814704445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88530739101f5817%3A0x64583b7d90957128!2sCoder+Foundry!5e0!3m2!1sen!2sus!4v1448050477347" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 wow bounceInLeft">
                <br>
                <p class="mail"> <i class="fa fa-map-marker"></i> &nbsp; 1231 Shields Rd #5, Kernersville, NC 27284 </p>
                <p class="mail"> <i class="fa fa-phone-square"></i>&nbsp; 3362318632-NUMBER </p>
            </div>
            <div class="col-md-8 col-xs-12 wow bounceInRight web-links">
                <div class="col-md-7 me">
                    <a href="https://mthompson.azurewebsites.net" target="_blank">
                        Developed by:
                        <br />Mandy Thompson
                    </a>
                </div>
                <div class="col-md-5 foundry">
                    <a href="http://www.coderfoundry.com" target="_blank">
                        Instructed by:
                        <br />Coder Foundry
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>