
@{
    ViewBag.Title = "Bootstrap 1";
}

<!DOCTYPE=HTML>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <h1>Bootstrap Grid System</h1>
        </div>
        <div class='row'>
            <div class='col-lg-4'>
                <div class='row'>
                    <div class='col-xs-4'><h1>4</h1></div>
                    <div class='col-xs-4'><h1>4</h1></div>
                    <div class='col-xs-4'><h1>4</h1></div>
                </div>
                <div class='row'>
                    <div class='col-xs-6'><h1>6</h1></div>
                    <div class='col-xs-6'><h1>6</h1></div>
                </div>
                <div class='row'>
                    <div class='col-xs-12'><h1>12</h1></div>
                </div>
            </div>

            <div class='col-lg-4'>
                <div class='row'>
                    <div class='col-xs-3'><h3>3</h3></div>
                    <div class='col-xs-3'><h3>3</h3></div>
                    <div class='col-xs-3'><h3>3</h3></div>
                    <div class='col-xs-3'><h3>3</h3></div>
                </div>
            </div>

            <div class='col-lg-4'>
                <div class='row'>
                    <div class='col-xs-8'><h5>8</h5></div>
                    <div class='col-xs-4'><h5>4</h5></div>
                </div>
                <div class='row'>
                    <div class='col-xs-6'><h5>6</h5></div>
                    <div class='col-xs-3'><h5>3</h5></div>
                    <div class='col-xs-3'><h5>3</h5></div>
                </div>
                <div class='row'>
                    <div class='col-xs-2'><h5>2</h5></div>
                    <div class='col-xs-3'><h5>3</h5></div>
                    <div class='col-xs-2'><h5>2</h5></div>
                    <div class='col-xs-3'><h5>3</h5></div>
                    <div class='col-xs-2'><h5>2</h5></div>
                </div>
                <div class='row'>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                    <div class='col-xs-1'><h5>1</h5></div>
                </div>
            </div>
        </div>
</body>
<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
</html>


