.navbar-brand {
    font-size: 30px;
    padding-top: 15px;
}
.name {
    color: #0094ff;
}
#about, #services, #contact, #car-lister {
    padding-top: 40px;
    padding-bottom: 50px;
}
#about h3 {
    color: #0094ff;
}
.about-img {
    padding: 50px 50px;
}
#services, #contact {
    background-color: #0094ff;
}
#services a {
    color: #000;
}
.car-image{
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contact h3 {
    color: #fff;
}
.mail {
    color: #000;
}
.web-links a{
    font-size: 2.5em;
    color: #fff;
}
.web-links a:hover {
    text-decoration:none;
}
.me:hover, .foundry:hover {
    border: 5px solid #fff;
}
footer {
    padding-bottom: 60px;
}