/*Edits*/

/*--Main Nav--*/
#main-nav.nothome .navbar-brand{
    color:#21b799;
}

#main-nav.nothome{
    background:#fff;
    border-bottom:1px solid #ddd;
}

#main-nav.nothome .navbar-toggle{
    color:#21b799;
    border-color:#21b799;
}

#main-nav.nothome .navbar-toggle .icon-bar{
    background:#21b799;
}

#main-nav.nothome .container{
    padding:10px 20px;
}

#main-nav.nothome .nav a,
#main-nav.nothome .nav a:active,
#main-nav.nothome .nav a:hover{
    color:#21b799;
}

#main-nav.nothome .nav a:hover:before,
#main-nav.nothome .nav li.active a:before {
	color: #21b799;
	text-shadow: 12px 0 #21b799, -12px 0 #21b799;
}

/*--Main Footer--*/


/*--Index--*/
.jumbotron .message-box {
    width: 110%;
}

/*--About--*/
#about a {
    color:#FFF;
}

.linkedinbtn {
    margin: 20px;
}

#services {
    padding-top: 60px;
}

.edu-descrip p {
    color: #444;
    font-weight:400;
}

#skills {
    padding-top: 40px;
}

.skillsicon {
    font-size: 70px;
    padding-top: 50px;
}

.skillglyph {
  display: inline-block;
  line-height: 170px;
	font-size:50px;
	font-weight:300;
  z-index: 2;
}
.skillglyph:after {
  content: "\2601";
  margin-left: 0.1em;
  font-size: 40px;
}

.aboutbtn {
    margin-left: 400px;
}

/*--Portfolio--*/
.modal-footer {
    border-top: none;
}

.modal-body .btn {
    margin: 10px 5px 5px 0;
}

.modal-body p {
    font-weight:bolder;
    color: #444;
}

.modal-body a {
    color: #0033EE;
}
.modal-body a:hover {
    text-decoration: underline;
}

.examp {
    font-weight: bolder;
}

p.descrip {
    color: #21b799;
}

h3.fizzbuzz {
    color: #0033EE;
}

h3.fizz {
    color: #8B008B;
}

h3.buzz {
    color: #008000;
}

