@model IEnumerable<Budgeter.Models.Household>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-money"></i><span class="break"></span>Budget for Each Category (dollars)</h2>
            </div>
            <div class="box-content">
                <div id="cat-budget" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-money"></i><span class="break"></span>Spending By Category For This Month (dollars)</h2>
            </div>
            <div class="box-content">
                <div id="cat-spending" style="height: 250px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-bar-chart"></i><span class="break"></span>Monthly Income vs Expense (dollars)</h2>
            </div>
            <div class="box-content">
                <div id="mIvE" style="height: 250px;"></div>
            </div>
        </div>
    </div>

</div>


@section scripts{
    <script>
        $(function () {
            $.post('@Url.Action("GetCatTransChart", "Charts")').then(function (response) {
                new Morris.Donut({
                    element: 'cat-spending',
                    data: response.cData,
                    colors: response.chartColors,
                    resize: true
                });
            });

            $.post('@Url.Action("GetBudgetCats", "Charts")').then(function (response) {
                new Morris.Donut({
                    element: 'cat-budget',
                    data: response.cData,
                    colors: response.chartColors,
                    resize: true
                });
            });

            $.post('@Url.Action("MonthlyIncomevsExpense", "Charts")').then(function (response) {
                new Morris.Bar({
                    element: 'mIvE',
                    data: response.cData,
                    xkey: 'month',
                    ykeys: ['income', 'expense'],
                    labels: ['Monthly Income', 'Monthly Expense'],
                    barColors: response.chartColors,
                    resize: true
                });
            });
        });
    </script>
}
